body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: orange;
}

.menu-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



button {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.cardapio {
    width: 100%;
}

.item {
    margin-bottom: 20px;
}



body {
    font-family: Arial, sans-serif;
}

.menu-container {
    width: 80%;
    margin: 0 auto;
}


